node_modules
.next
.agents
.claude

.env
.env.*
!.env.example
public/generated-posts
public/uploads

*.log
tsconfig.tsbuildinfo

data/*.db
data/*.db-shm
data/*.db-wal
prisma/*.db
prisma/*.db-shm
prisma/*.db-wal
.vercel
